# 1. What is List? How will you reverse a list?

A list is a data structure in python that is mutable, changeable and ordered in a sequence.
List is create using list() keyword or enter a value in [](square brackets).
A list is ordered sequence so, indexing are allow.
Each elements or value that is inside of a list is called an items.

Python is provides a built-in function called as the reverse() function which reverses the order of the data elements in place.

for example

In [1]:
name = ['ayush', 'dhruval', 'keval', 'manav']
print(name)

['ayush', 'dhruval', 'keval', 'manav']

In [2]:
name.reverse()
print(name)

['manav', 'keval', 'dhruval', 'ayush']

# 2. How will you remove last object from a list?
# Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

The method pop() can be used to remove and return the last value from the list or the given index value. if the index is not given, then the last element is remove from the list.

In [3]:
list1 = [2, 33, 222, 14, 25]
list1[-1]

25

# 3. Differentiate between append () and extend () methods?

append() :- to addd a single entry to the end of list. the append() function add the full input to the list as a single element. append() method accepts only one input element.

extend() :- To add additional elements or an iterable to the end of a list. extend() add each element to the list independently. accepts as input an iterable.

# 4. Write a Python function to get the largest number, smallest num and sum of all from a list.

In [4]:
list1 = [10, 22, 46, 34, 64, 56]
print("largest number of a list: ", max(list1))

largest number of a list:  64

In [5]:
print("smallest number of a list: ", min(list1))

smallest number of a list:  10

In [6]:
print("sum of all number in a list: ", sum(list1))

sum of all number in a list:  232

# 5. How will you compare two lists?

The sort() and sorted() method are comparing the two lists. the sort() method sorts the list in place, while sorted() method returns a new list.

After sorting, lists that are equal will have same items in the same index positions. The == operator compares the lists, item by item. 

for example,

In [7]:
list1 = [10, 20, 30, 40, 50]
list2 = [20, 40, 50, 70, 60]
list3 = [50, 10, 30, 40, 20]

list1.sort()
list2.sort()
list3.sort()

if list1 == list2:
    print("the list1 and list2 are the same.")
else:
    print("the list1 and list2 are not the same.")

if list1 == list3:
    print("the list1 and list3 are the same.")
else:
    print("the list1 and list3 are not the same.")

the list1 and list2 are not the same.
the list1 and list3 are the same.

In [8]:
list1 = [10, 20, 30, 40, 50]
list2 = [20, 40, 50, 70, 60]
list3 = [50, 10, 30, 40, 20]

list_1 = sorted(list1)
list_2 = sorted(list2)
list_3 = sorted(list3)

if list_1 == list_2:
    print("the list1 and list2 are the same.")
else:
    print("the list1 and list2 are not the same.")

if list_1 == list_3:
    print("the list1 and list3 are the same.")
else:
    print("the list1 and list3 are not the same.")

the list1 and list2 are not the same.
the list1 and list3 are the same.

# 6. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [9]:
string1 = 0
list1 = ['aba', '121', 'abc', 'xyz', 'kgf']

for x in list1:
    if len(x) > 1 and x[0]==x[-1]:
        print("the given words are: ", x)
        string1+=1
print("no. of words in string: ",string1)

the given words are:  aba
the given words are:  121
no. of words in string:  2

# 7. Write a Python program to remove duplicates from a list.

In [10]:
def duplicate(list1):
    final_list = []
    for num in list1:
        if num not in final_list:
            final_list.append(num)
    return final_list

list1 = [10, 20, 30, 10, 50, 70, 30]
print(duplicate(list1))

[10, 20, 30, 50, 70]

In [11]:
list1 = [10, 20, 30, 10, 50, 70, 30]
list2 = set(list1)
list3 = list(list2)
print(list3)

[70, 10, 50, 20, 30]

# 8. Write a Python program to check a list is empty or not.

In [12]:
list1 = []
if len(list1) > 0:
    print("the list is not empty")
else:
    print("the list is empty")

the list is empty

# 9.  Write a Python function that takes two lists and returns true if they have at least one common member.

In [13]:
def common_member(list1, list2):
    result = False

    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result

print(common_member([1, 2, 3, 4, 5],[5, 6, 7, 8, 9]))
print(common_member([1, 2, 3, 4, 5],[6, 7, 8, 9, 10]))

True
None

# 10. Write a Python program to generate and print a list of first and last 5 element where the values are square of numbers between 1 and 30.

In [14]:
def square():

    l = list()
    for i in range(1, 31):
        l.append(i**2)
    print(l[:5])
    print(l[-5:])

square()

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

# 11. Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [15]:
def unique(list1):
    list2 = []

    for num in list1:
        if num not in list2:
            list2.append(num)

    return list2

print(unique([1, 2, 3, 3, 4, 5, 4, 6, 5]))

[1, 2, 3, 4, 5, 6]

# 12. Write a Python program to convert a list of characters into a string.

In [16]:
list1 = ['N', 'i', 'k', 'h', 'i', 'l']
str1 = ''.join(list1)
print(str1)

Nikhil

# 13. Write a Python program to select an item randomly from a list.

In [17]:
import random
list1 = ['red', 'white', 'Green', 'Black', 'Blue']
print(random.choice(list1))

Black

# 14. Write a Python program to find the second smallest number in a list.

In [18]:
def smallest(list1):
    length = len(list1)
    list1.sort()
    print("second smallest number in list: ", list1[length-2])
list1 = [10, 20, 30, 45, 55, 65]
smallest(list1)

second smallest number in list:  55

# 15. Write a Python program to get unique values from a list

In [19]:
list1 = [10, 20, 50, 20, 10, 60]
print(list(set(list1)))

[10, 20, 50, 60]

# 16. Write a Python program to check whether a list contains a sub list

In [20]:
list1 = ['a', 'x', [1, 2, 3, 4, 'nikhil']]

for i in list1:
    if len(i) > 1:
        print("Sublist is present in list")
        break

else:
    print("Sublist is not present")

Sublist is present in list

# 17. Write a Python program to split a list into different variables.

In [21]:
names = ['AUDI', 'BMW', 'HYUNDAI']
print("names: ", names)

a, b, c = names

print("var a:", a)
print("var b:", b)
print("var c:", c)

names:  ['AUDI', 'BMW', 'HYUNDAI']
var a: AUDI
var b: BMW
var c: HYUNDAI

# 18. What is tuple? Difference between list and tuple.

Tuples are used to store multiple items in a single variable.Tuple items are ordered, unchangeable, and allow duplicate values. it means that the items have a defined order, and that order will not change. Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

tuple can create using tuple() keyword or create using ()(round brackets).

Python tuples are a type of data structure that is very similar to lists. The main difference between the tuples are immutable, meaning they cannot be changed once they are created and list is mutable, meaning they can be changed. list consumes more memory and tuple consumes less memory as compared to the list.

# 19. Write a Python program to create a tuple with different data types.

In [22]:
tuple1 = ('xyz', False, 3.2, 15)
print(tuple1)

('xyz', False, 3.2, 15)

In [23]:
x = tuple(('xyz', False, 3.2, 15))
print(x)

('xyz', False, 3.2, 15)

# 20. Write a Python program to create a tuple with numbers.

In [24]:
x = 5, 10, 15, 20, 25
print(x)
type(x)

(5, 10, 15, 20, 25)

tuple

In [25]:
x = 5,
print(x)
type(x)

(5,)

tuple

# 21. Write a Python program to convert a tuple to a string

In [26]:
def convertTuple(tuple1):
    str = ''
    for item in tuple1:
        str += item
    return str

tuple1 = ('H', 'E', 'L', 'L', 'O')
print(convertTuple(tuple1))

HELLO

# 22. Write a Python program to check whether an element exists within a tuple.

In [27]:
tuple = ('h', 'i', 'i', 'a', 'm', 'j', 'a', 'y')
print('j' in tuple)
print('o' in tuple)

True
False

# 23.  Write a Python program to find the length of a tuple.

In [28]:
tuple = ('h', 'i', 'i', 'a', 'm', 'j', 'a', 'y')
print(tuple)
print(len(tuple))

('h', 'i', 'i', 'a', 'm', 'j', 'a', 'y')
8